{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container white-background mt-5 p-5 text-center" >
  <h2 class="sign-up-title"> {% trans "Log In!" %} </h2>

  <form class="login signup text-center mt-5" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-yellow" type="submit">{% trans "Go!" %}</button>
  </form>
</div>

{% endblock %}
