body {
    background-color: #A82428;
}

/* Nav Bar */
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse .navbar-nav {
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 600;
    color: #A82428;
    font-size: 1.5em;
    padding: 0.25em 1em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FFBE33;
}

.nav-item:not(:last-child) {
    border-right: 2px solid #FFBE33;
}

.bg-white {
    background-color: #ebebeb!important;
}


/* Hero Image */
#hero_image {
    background-image: url('/static/css/images/hero_image.jpg');
    background-position: center;
    background-size: 100%;
    min-height: 60vh;
}

.container {
    background-color: #ebebeb;
}


@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
}
}