html {
    scroll-behavior: smooth;
}

body {
    background-color: #A82428;
}

/* Nav Bar */
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse .navbar-nav {
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'pacifico', sans-serif;
    font-weight: 600;
    color: #A82428;
    font-size: 1.5em;
    padding: 0.25em 1em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FFBE33;
}

.nav-item:not(:last-child) {
    border-right: 2px solid #FFBE33;
}

.bg-white {
    background-color: #ebebeb!important;
}


/* Hero Image */
#hero_image {
    background-image: url('/static/css/images/hero_image.jpg');
    background-position: center;
    background-size: 100%;
    min-height: 60vh;
    position: relative;

}

/* sign up button */
#floating_button {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
}

/* sign up form */
#signup_form label {
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 600;
    font-size: 1.75em;
}

/* signin / login / logout*/
.login {
    font-family: 'Anek Gujarati', sans-serif;
        font-weight: 600;
        font-size: 1.5em;
    }
    
.red-title {
    color: #A82428;
    font-size: 3em;
    }

.signout-message {
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 2em;
    color: black;
}


/* contents */
.white-background {
    background-color: #ebebeb;
}
h2 {
    font-family: 'pacifico', sans-serif; 
    color: #FFBE33;
    font-size: 4em;
    text-decoration: underline;
}

h3 {
font-family: 'Anek Gujarati', sans-serif;
font-size: 2em;
font-weight: 800;
}

.btn-yellow {
    background-color: #FFBE33;
    font-size: 1.75em;
    font-family: 'pacifico', sans-serif;
    padding: 0.30em 1.30em;
    box-shadow: 3px 3px 3px black;
}

ul {
    list-style: none;
}

.textarea {
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 1.25em;
}

li {
    list-style-type: none;
}

/* Menu */

.menu-title {
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #A82428;
    text-decoration: underline;
}

.img-fluid {
border: solid #FFBE33 4px;
}

.image-on-left {
    display: flex;
    flex-direction: row-reverse;
}


.menu-desc {
    padding: 20px;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 1.5em;
}

.accordion-collapse {
    max-height: 450px;
    overflow: scroll;
}

.accordion-button:not(.collapsed) {
    color: #A82428;
    background-color: #FFBE33;
}

.accordion-item {
    background-color: transparent;
}

/* Book a Table */

#book-table-button {
    margin-top: 1em;
}

.book-table-form-container {
    border: 4px solid #FFBE33;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}

#book-table-form label {
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    color: black;

}

.form-check-input:checked {
    background-color: #FFBE33;
}

.form-check-label {
    color: #A82428;
}

/* Review.review */

.review-container {
    border: 4px solid #FFBE33;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}

.review-review {
    font-family: 'Anek Gujarati', sans-serif;
    color: black;
    font-size: 1.5em;
}

.author {
    font-family: 'pacifico', sans-serif; 
    color: #A82428;
    font-size: 1.25em;
}

.review-date {
    font-family: 'Anek Gujarati', sans-serif;
    color: black;
    font-size: 1em;
}

.requiredField {
    font-family: 'pacifico', sans-serif;
    font-size: 2em;
    color: #A82428;
}

/* booking admin */
.accordion-container {
    border: 4px solid #FFBE33;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}

.accordion-button {
    font-size: 2em;
    font-family: 'pacifico', sans-serif;
}

.booking-details {
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-black {
    background-color: black;
    color: #FFFFFF;
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 300;
}

.btn-white {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 300;   
}

.btn-black:hover {
    background-color: #FFBE33;
    color: #A82428;
}

/* footer */
footer {
    font-size: 1em;
    color: #FFFFFF;
    font-family: 'Anek Gujarati', sans-serif;
}

footer a {
    color: #FFFFFF;
}
footer a:hover {
    color: #FFBE33;
}

.footer-link {
    font-size: 2.5em;
}

.delete_booking {
    display: inline-block;
}














@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
    }


