body {
    background-color: #A82428;
}

/* Nav Bar */
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse .navbar-nav {
    margin: auto;
}

/* Hero Image */
#hero_image {
    background-image: url('/static/css/images/hero_image.jpg');
    background-position: center;
    background-size: 100%;
    min-height: 60vh;
}

.container {
    background-color: #ebebeb;
}