{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>DD's Diner</title>
    <link rel="shortcut icon" type="img/png" href="static/css/images/dds_logo.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit.fontawesome.com/f5a5453a46.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@300&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f5a5453a46.js" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="/static/css/images/dds_logo.png" alt="inside DD's diner">
            </a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
    
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book_a_table' %}">Book a Table</a>
                </li>
                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'your_bookings' %}">Your Bookings</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/signup">Sign-Up</a>
                </li>
                        
                    {% else %}
                        <a class="nav-link" href="/accounts/logout">Logout</a>
                    {% endif %}
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="menu-spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert alert-warning {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-4  text-center">
                    <a href="tel: 01234 456 789">Phone us: 01234 456 789</a><br>
                    <a href="mailto:dds@diner.com">Email: dds@diner.com</a>
                </div>
                <div class="col-4">
                    <p class="m-0 text-center">Beth Allaway @ Code Institute</p>
                        <div class="m-0 text-center text-white">
                            <a  class="footer-link"
                                href="https://github.com/Bethieieio"
                                target="_blank"
                                rel="noopener"
                                aria-label="Take a look at my Github profile (opens in new tab)">
                                <i class="fa-brands fa-github-alt"></i>
                            </a>
                        </div>
                </div>
                <div class="col-4">
                    <ul>
                        <li>Marine Parade,</li>
                        <li>Great Yarmouth,</li>
                        <li> NR30 2DL</li>
                    </ul>
                </div>
            </div>
            </div>
    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>

</html>