{% extends "base.html" %}

{% block content %}
<div class="p-5 text-center bg-image" id="hero_image">
    <div id="floating_button">
            <button class="btn btn-signup ">Sign Up</button>
    </div>
</div>

<div class="container white-background  py-5">
    <div class="row">
        <div class="col-3 offset-md-3">
            <img class="img-fluid" src="static/css/images/disco.png">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="static/css/images/milkshake.png">
        </div>
        <div class="col-6 offset-md-3 py-3">
            <img class="img-fluid" src="static/css/images/full-english.png">
        </div>
    </div>
</div>
{%endblock%}

