{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="text-center">Menu</h2>
</div>
<div class="container">
    <div class="container white-background py-5 accordion-container">
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-mainmeal" aria-expanded="true" aria-controls="collapseOne">
                    Main
                    </button>
                </div>
                <div class="accordion-collapse collapse" id="collapse-mainmeal">
                    <div class="accordion-body">
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class="col-md-4 text-center text-md-start">
                                <label class="menu-title">DD's Burger</label>
                                <ul class="menu-desc">
                                    <li>100% beef / vege patty</li>
                                    <li>cheese</li>
                                    <li>onion</li>
                                    <li>gherkin</li>
                                    <li>lettece</li>
                                    <li>tomato</li>
                                    <li>DD's Burger Sauce</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-burger.png" alt="DD's Burger">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">DD's Hot Dog</label>
                                <ul class="menu-desc">
                                    <li>frankfurter / vege sausage</li>
                                    <li>cheese</li>
                                    <li>red onion</li>
                                    <li>tomato</li>
                                    <li>lettece</li>
                                    <li>mustard</li>
                                    <li>ketchup</li>
                                    <li>jalapeño</li> 
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-hotdog.jpg" alt="DD's Hot Dog">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class="col-md-4 text-center text-md-start">
                                <label class="menu-title">DD's Wings</label>
                                    <p class="menu-desc"> 6 butter milk chicken wings with a choice of BBQ, sweet chilli and garlic dipping sauces.</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-chickenwings.jpg" alt="DD's Wings">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class="col-md-4 text-center text-md-start">
                                <label class="menu-title">DD's Ribs</label>
                                    <p class="menu-desc">Marinated in DD's BBQ sauce, this sweet rack of ribs falls of the bone for a real rib experience</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-ribs.jpg" alt="DD's Ribs">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class="col-md-4 text-center text-md-start">
                                <label class="menu-title">DD's Vegan Chicken Wrap</label>
                                <ul class="menu-desc">
                                    <li>Meatless chicken</li>
                                    <li>lettece</li>
                                    <li>sweetcorn</li>
                                    <li>onion</li>
                                    <li>tomato</li>
                                    <li>wholemeal torilla wrap</li>
                                    <li>BBQ / sweet chilli sauces</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-wrap.jpg" alt="DD's Vegan Wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sides" aria-expanded="true" aria-controls="collapseTwo">
                    Sides
                    </button>
                </div>
                <div class="accordion-collapse collapse" id="collapse-sides">
                    <div class="accordion-body">
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Fries</label>
                                <p class="menu-desc">Made with British potatoes lightly seasoned with paprika</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-fries.jpg" alt="DD's fries">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Potato Waffles</label>
                                <p class="menu-desc">Made with British potatoes lightly seasoned with sea salt</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-potwaffles.jpg" alt="DD's Potato waffles">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Potato Wedges</label>
                                <p class="menu-desc">Homemade wedges made from potatoes grown by local farmers, seasoned with sea salt and black pepper</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-wedges.jpg" alt="DD's Potato wedges">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Onion Rings</label>
                                <p class="menu-desc">Made on site using onions from local farmers, a fan favourite here at DD's. </p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-rings.jpg" alt="DD's onion rings">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Loaded Salad</label>
                                <p class="menu-desc">A loaded salad with a slice of wheat bread with a drizzle of DD's dressing. Suitable for vegans.</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-salad.jpg" alt="DD's loaded salad">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-desserts" aria-expanded="true" aria-controls="collapseThree">
                    Desserts
                    </button>
                </div>
                <div class="accordion-collapse collapse" id="collapse-desserts">
                    <div class="accordion-body">
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Oreo Cookie Dough Sundae</label>
                                <p class="menu-desc">A managers favourite! A whippy icecream filled with Oeros, cookie dough chunks, chocolate sauce and whipped cream.</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-sundae.jpg" alt="DD's Oreo Cookie Dough Sundae">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Chocolate Brownie</label>
                                <p class="menu-desc">Our rich warm chocolate brownie, topped with double cream, custard or icecream.</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-brownie.jpg" alt="DD's Brownie with icecream">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Black Forest Cheesecake</label>
                                <p class="menu-desc">Exclusive at DD's, our Black Forest cheesecake goes fabulous with custard!</p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-cheesecake.jpg" alt="DD's Black Forest Cheesecase">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Sticky Toffee Pudding</label>
                                <p class="menu-desc">A staff favourite here at DD's! An extremely sticky pudding can be enjoyed with icecream, cream or warm custard! </p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-stickypudding.jpg" alt="DD's Sticky Toffee Pudding with icecream">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Fruit Salad</label>
                                <ul class="menu-desc">
                                    <li>A full to the brim cup of our fabulous fruit salad, can be enjoyed with double cream or icecream.</li>
                                    <li>apple</li>
                                    <li>kiwi</li>
                                    <li>strawberry</li>
                                    <li>mango</li>
                                    <li>orange</li>
                                    <li>pineapple</li>
                                    <li>mango</li>
                                    <li>banana</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-fruitsalad.jpg" alt="DD's fruit salad with creakm">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-drinks" aria-expanded="true" aria-controls="collapseFour">
                    Drinks
                    </button>
                </div>
                <div class="accordion-collapse collapse" id="collapse-drinks">
                    <div class="accordion-body">
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class="col-md-4 text-center text-md-start">
                                <label class="menu-title">Soda</label>
                                <ul class="menu-desc">
                                    <li>Cola / Diet Cola</li>
                                    <li>Sprite / Diet Sprite</li>
                                    <li>Orangeade</li>
                                    <li>Cream Soda</li>
                                    <li>Dr Pepper</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-soda.jpg" alt="Cola from DD's">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-md-4 text-center text-md-end">
                                <label class="menu-title">Juice</label>
                                <ul class="menu-desc">
                                    <li>Orange</li>
                                    <li>Apple</li>
                                    <li>Mango</li>
                                    <li>Strawberry and Kiwi</li>
                                    <li>Cranberry</li>
                                    <li>Raspberry and Bluebery</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-juice.jpg" alt="orange juice from DD's">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class="col-md-4 text-center text-md-start">
                                <label class="menu-title">Milkshake</label>
                                <ul class="menu-desc">
                                    <li>Vanilla</li>
                                    <li>Chocolate</li>
                                    <li>Strawberry</li>
                                    <li>Banana</li>
                                    <li>Skittles</li>
                                    <li>Oreo</li>
                                    <li>Coke Float</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="static/css/images/menu-milkshake.jpg" alt="chocolate milkshake from DD's">
                            </div>
                        </div>
                            <div class="image-on-left row justify-content-center mt-2 mb-5">
                                <div class= "col-md-4 text-center text-md-end">
                                    <label class="menu-title">Hot Beverage</label>
                                    <ul class="menu-desc">
                                        <li>English Breakfast</li>
                                        <li>Earl Grey</li>
                                        <li>Mint Tea</li>
                                        <li>Americano</li>
                                        <li>Cappuccino</li>
                                        <li>Latte</li>
                                        <li>Mocha</li>
                                        <li>Hot Chocolate</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-fluid" src="static/css/images/menu-latte.jpg" alt="latte from DD's">
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2 mb-5">
                                <div class="col-md-4 text-center text-md-start">
                                    <label class="menu-title">Mocktail</label>
                                    <ul class="menu-desc">
                                        <li>Pineapple Cobbler</li>
                                        <li>Lavender Lemonade</li>
                                        <li>Rosemary Blueberry Smash</li>
                                        <li>Virgin Watermelon Margarita</li>
                                        <li>Dry Cranberry Spitzer</li>
                                        <li>Mango Mule</li>
                                        <li>Coconut, Cucumber, Lime and Mint Cooler</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-fluid" src="static/css/images/menu-mocktail.jpg" alt="DD's Coconut, Lime and Mint Cooler mocktail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

