{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="text-center">Menu</h2>
</div>
<div class="container">
    <div class="container white-background py-5">
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-mainmeal" aria-expanded="true" aria-controls="collapseOne">
                    Main
                    </button>
                </div>
                <div class="accordion-collapse collapse" id="collapse-mainmeal">
                    <div class="accordion-body">
                        <div class="row justify-content-center mt-2 mb-5">
                            <div class="col-4">
                                <label class="menu-title">DD's Burger</label>
                                <ul class="menu-desc">
                                    <li>100% beef</li>
                                    <li>cheese</li>
                                    <li>onion</li>
                                    <li>gherkin</li>
                                    <li>lettece</li>
                                    <li>tomato</li>
                                    <li>DD's Burger Sauce</li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="static/css/images/menu-burger.png">
                            </div>
                        </div>
                        <div class="image-on-left row justify-content-center mt-2 mb-5">
                            <div class= "col-4">
                                <label class="menu-title">DD's Hot Dog</label>
                                <ul class="menu-desc">
                                    <li>frankfurter</li>
                                    <li>cheese</li>
                                    <li>red onion</li>
                                    <li>tomato</li>
                                    <li>lettece</li>
                                    <li>mustard</li>
                                    <li>ketchup</li>
                                    <li>jalapeño</li> 
                                </ul>
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="static/css/images/menu-hotdog.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sides" aria-expanded="true" aria-controls="collapseOne">
                    Sides
                    </button>
                </div>
                <div class="accordion-collapse collapse" id="collapse-sides">
                    <div class="accordion-body">
                        <div>
                            <label class="label">FRIES</label>
                            FRIES IMAGE
                        </div>
                        <div>
                            <label class="label">POTATO WAFFLES</label>
                            POTATO WAFFLES IMAGE
                        </div>
                        <div>
                            <label class="label">GARLIC BREAD</label>
                            GARLIC BREAD IMAGE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

